* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  padding: 20px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}

.section-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e7eb;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.05);
}

.section-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #111827;
}

.section-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;

  border: 1px solid #d1d5db;
  border-radius: 10px;

  font-size: 14px;
  background: #fff;
  outline: none;
}

.section-card select:focus {
  border-color: #22c55e;
}

.section-card button {
  width: 100%;
  border: none;
  cursor: pointer;

  padding: 12px;
  border-radius: 10px;

  background: #16a34a;
  color: white;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s;
}

.section-card button:hover {
  background: #15803d;
}

@media (min-width: 900px) {

  .section-card {
    display: grid;
    grid-template-columns:
      repeat(2, 1fr);
    gap: 12px;
  }

  .section-card h3 {
    grid-column: 1 / -1;
  }

  .section-card button {
    grid-column: 1 / -1;
  }
}