body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CENTER BOX */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARD */
.box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}

/* LOGO */
.logo h2 {
  margin: 0;
  font-size: 18px; /* chota MH34 */
  font-weight: 600;
}

.logo h1 {
  margin: 5px 0;
  font-size: 34px;
}

.logo p {
  margin-bottom: 25px;
  color: #666;
  font-size: 13px;
}

/* INPUT */
input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

input:focus {
  border-color: #2ecc71;
}

/* BUTTON (GREEN) */
button {
  width: 100%;
  padding: 14px;
  margin-top: 14px;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #27ae60, #1e8449);
  transform: scale(1.03);
}

.message {
  display: none;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 14px;
}

.success {
  background: #d4edda;
  color: #155724;
}

.error {
  background: #f8d7da;
  color: #721c24;
}