/* Background */
body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
}

/* Heading */
h2 {
  margin-bottom: 20px;
  color: #22c55e;
}

/* Input + Textarea */
input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
  font-size: 14px;
}

/* Focus effect */
input:focus, textarea:focus {
  border: 1px solid #22c55e;
}

/* Button */
button {
  padding: 12px 20px;
  background: #22c55e;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

/* Button hover */
button:hover {
  background: #16a34a;
}